.containerHome {
    /*background: rgb(15, 15, 198);*/
    margin-left: 30%;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    font-family: 'Poppins', sans-serif;
}

.information {
    /*background: rgb(163, 142, 142);*/
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informationPrincipal {
   /* background: palegreen;*/
    width: 110%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2%;
}

.informationPrincipal p {
    font-size: 4.5rem;
    margin-top: 0.5%;
}

.informationDown {
   /* background: firebrick;*/
    width: 100%;
    font-size: 1.6rem;
    margin-top: -8%;
    text-align: center;
}

.informationPrincipal .react-typewriter-text {
    /*background: gold;*/
    font-size: 4.5rem;
    color: #FF4F5A;
}

.buttons {
    /*background: darkmagenta;*/
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    height: 5%;
    
}

.buttons button {
    border: none;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    font-weight: 700;
    font-size: 1.2rem;
    color: whitesmoke;
    background:#212121;/* #1e272b;*/
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    width: 30%;
    position: relative;
}

.btn-contact a {
    text-decoration: none;
    color: unset;
}

.btn-contact span {
    position: relative; 
	z-index: 1;
}

.buttons .btn-contact::after {
    content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 600%;
	width: 120%;
	background: #FF4F5A;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
	transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.buttons .btn-contact:hover::after { 
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.btn-contact:hover { color:rgb(255, 255, 255); }

.btn-contact:active { text-decoration: underline; }

.imageHome {
    /*  background: green;*/
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageHome img {
    width: 90%;
    height: 55%;
}

