/*! Styles for extension menu */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,800;1,900&display=swap');

html[data-theme='light'] { background: rgb(235, 235, 231); }
html[data-theme='dark'] { background: rgb(119, 117, 117,1); } /*rgba(62, 61, 61, 0.9)*/

.assets {
	/*background: rgb(154, 55, 26);*/
	position: absolute;
	top: 2%;
	display: flex;
	justify-content: end;
	gap: 1.5%;
	align-items: center;
	width: 96.5%;
}

.assets img {
	width: 35px;
	height: 35px;
}

.assets .btn-ChangeTheme {
    width: 10%;
    border: none;
    font-size: 35px;
    text-align: center;
    background: none;
}

.assets .btn-ChangeTheme[title]:hover:after {
	content: attr(title);
	padding: 4px 8px;
	color: #bc2d36;
	position: absolute;
	top: 100%;
	white-space: nowrap;
	z-index: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid gray 2px;
	font-size: 20px;
}

.btn-ChangeTheme:hover i:active {  animation: rotating 2s linear infinite normal both; }

.btnIdiom {
	background: none;
	border: none;
}

.btnIdiom .lenguage[title]:hover::after {
	content: attr(title);
	padding: 4px 8px;
	color: #bc2d36;
	position: absolute;
	top: 10%;
	white-space: nowrap;
	z-index: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid gray 2px;
	font-size: 20px;
}

/*.btnIdiom {
	margin: 10px;
}

.lbl-switch {
	display: inline-block;
	width: 55px;
	height: 30px;
	background: #aaa;
	border-radius: 100px;
	position: relative;
	cursor: pointer;
}*/

/*#btn-switch:checked ~ .lbl-switch {
	background: yellow;
}*/

/*.lbl-switch::after {
	content: "";
	position: absolute;
	width: 22px;
	height: 22px;
	background: white;
	border-radius: 100px;
	top: 4px;
	left: 5px;
	transition: 0.3s;
}

#btn-switch:checked ~ .lbl-switch::after {
	left: 28px;
}

#btn-switch { display: none;}*/


/*.btnIdiom {
	background: transparent;
	border: none;
}

.btnIdiom img {
	width: 36px;
	height: 36px;
}*/


/*.divToggle {
	position: absolute;
	z-index: 2;
	margin-left: 85%;
	margin-top: 2%;
	background: rgb(50, 44, 6);
	
}

.btn-ChangeTheme {
    width: 10%;
    border: none;
    font-size: 35px;
    text-align: center;
    background: none;
}

.btn-ChangeTheme[title]:hover:after {
	content: attr(title);
	padding: 4px 8px;
	color: rgb(175, 18, 18);
	position: absolute;
	top: 100%;
	white-space: nowrap;
	z-index: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid gray 2px;
	font-size: 20px;
}

.btn-ChangeTheme:hover i:active {  animation: rotating 2s linear infinite normal both; }
*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



.menuExtend {
    background: #212121;/* #385A64;*/
    width: 20%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
}

.menuExtend header {
    /*background: rgb(196, 131, 131);*/
    width: 98%;
    font-family: 'Poppins', sans-serif;
}

.imageProfile {
	width: 100%;
	height: 30%;
    /*background: darkgray;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageProfile img {
	width: 60%;
    height: 80%;
	border-radius: 50%;
	border: 1px solid rgba(28, 46, 53,0.5);
}

.socialMedia {
  /*  background: palegreen;*/
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.socialMedia ul {
    list-style: none;
     /*background: green;*/
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 10%;
    gap: 1rem;
}

.socialMedia li a i {
  /*  background: darkmagenta;*/
    font-size: 150%;
    color: rgba(255, 255, 255, 0.6);
    /*color: white;*/ /*#242020;*/
}

.socialMedia li a i:hover {
    color: #FF4F5A;
}

.socialMedia hr {
    width: 30%;
    margin-top: 7%;
}

.menuExtend .listMenu {
   /* background: rgb(198, 226, 226);*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20%;
}

.menuExtend .listMenu li {
    list-style: none;
    text-align: left;
    width: 70%;
    /*background: gold;*/
}

.menuExtend .listMenu li a {
    color: rgba(255, 255, 255,0.6); /*#242020;*/
    text-decoration: none;
    display: flex;
    font-size: 23px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 20px;
}

.circle {
    margin-right: 10px;
    height: 10px;
    width: 10px;
    margin-top: 5px;
    margin-left: -1px;
    border-radius: 50%;
    border: 2px solid #FF4F5A; /*rgb(30, 27, 27)*/
    transition: all 0.3s;
}

.react {
    height: 5px;
    width: 0px;
    margin-top: 9px;
    -webkit-transition: -webkit-transform 0.1s, width 0.6s;
    -moz-transition: -webkit-transform 0.1s, width 0.6s;
    transition: transform 0.1s, width 0.6s;
}

.menuExtend nav a:focus { color: #FF4F5A;}

.menuExtend nav a:hover, nav .active{ color: #FF4F5A; }

.menuExtend nav a:hover span, nav .active span { background-color:#FF4F5A; }

.menuExtend nav .active .rect { width: 30px; }

.menuExtend nav .active:hover .circle { 
    background:#FF4F5A;
    border: solid #FF4F5A;
}

.menuExtend nav ul li a:focus .react { width: 55px; }


.footer {
   /* background: hotpink;*/
    margin-top: 70%;
    text-align: center;
    color: rgba(255, 255, 255,0.6);
}


/*! Hamburger menu styles */
#menuHamburger {
    display: none;
}

.menuIPad {
    display: none;
}

ul li img {
    width: 3rem;
}

@media screen and (min-width: 350px) and (max-width: 450px) {
	.containerHome {
		background: gold;
	}

	.informationPrincipal p {
		/*background: hotpink;*/
		font-size: 3rem !important; 
	}

	.informationPrincipal .react-typewriter-text {
		/*background: goldenrod;*/
		font-size: 2.4rem !important;
		margin-top: 0.5rem;
	}

	.buttons .btn-contact {
		width: 50%;
	}


	.buttons .btn-contact::after {
		left: -15% !important;
		top: 4%;
	}

	/*.buttons .btn-contact span {
		font-size: 15px;
	}*/

	.informationGeneral {
		/*background: salmon;*/
		margin-top: -15% !important;
	}

	#searchClass {
		/*background: gold;*/
		position: absolute;
		top: 5%;
	}
}

@media screen and (max-width: 834px) {
    .menuExtend {
        background: paleturquoise;
        display: none;
    }

    #menuHamburger { display: flex; }

    #nav-btn {
		cursor: pointer;
		height: 56px;
		opacity: 0;
		position: absolute;
		top: 2%;
		right: 44px;
		width: 56px;
		z-index: 100;
	}

    #nav-btn + label {
		background-color: #FF656F;
		cursor: pointer;
		display: block;
		height: 4px;
		position: absolute;
		right: 40px;
		top: 44px;
		width: 50px;
		z-index: 99;
	}

    #nav-btn + label::before,
	#nav-btn + label::after {
		background-color:#FF656F;
		content: "";
		display: block;
		height: 4px;
		left: 0;
		position: absolute;
		width: 50px;
	}

    #nav-btn + label::before { top: -15px; }

	#nav-btn + label::after { bottom: -15px; }

	#nav-btn + label::before,
	#nav-btn + label::after {
		transition-delay: 0.3s, 0s;
		transition-duration: 0.3s, 0.3s;
	}

    #nav-btn + label::before { transition-property: top, transform; }

	#nav-btn + label::after { transition-property: bottom, transform; }

	#nav-btn:checked + label { background: none; }


    #nav-btn:checked + label::before {
		top: 0;
		transform: rotate(45deg);
	}

	#nav-btn:checked + label::after {
		bottom: 0;
		transform: rotate(-45deg);
	}

	#nav-btn:checked + label::before,
	#nav-btn:checked + label::after { transition-delay: 0s, 0.3s; }

	#nav-btn:checked ~ nav {
		left: 0px;
		opacity: 100;
		position: fixed;
		visibility: 1;
		z-index: 98;
	}

    #nav-btn:checked ~ nav ul { transform: translate(-50%, -50%); }

	.menuHamburger {
		background: rgb(169, 75, 81) none repeat scroll 0% 0%;
		height: 100%;
		opacity: 0;
		position: absolute;
		top: 0px;
		transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
		visibility: 0;
		width: 100%;
		z-index: -1;
		font-family: sans-serif;
	}

	.menuHamburger ul {
		left: 50%;
		--moz-transition: all 1s ease-in-out;
		--o-transition: all 1s ease-in-out;
		position: absolute;
		top: 50%;
		transform: translate(-50%, 0%);
		transition: all 1s ease-in-out;
		--webkit-transition: all 1s ease-in-out;
	}

	.menuHamburger li {
		font-size: 30px;
		list-style: none;
		padding-bottom: 10px;
		text-align: center;
	}

	.menuHamburger li a {
		color: rgb(33, 33, 33);
		text-decoration: none;
        transition: all 1s;
	} 

	.menuHamburger ul li a:hover { color: rgba(223, 220, 220, 0.4); }

	.divToggle { margin-left: 3%; }

	.containerHome {
		/*background: palegreen;*/
		margin-left: 0 !important;
		width: 100% !important; 
		flex-direction: column;
		align-items: center;
	}

	.information {
		/*background: gold;*/
		order: 2;
		width: 80% !important;
		height: 50%;
		margin-top: -15%;
	}

	.informationDown {
		font-size: 1.4rem !important;
	}

	.informationDown p {
		margin-top: -2%;
	}

	.buttons {
		height: 9% !important;
	}

	.buttons .btn-contact::after {
		left: -8.5% !important;
		top: 10% !important;
	}

	.buttons .btn-contact span {
		font-size: 15px;
	}

	.imageHome {
		/*background: paleturquoise;*/
		width: 45% !important;
		margin-top: -20%;
	}

	.imageHome img {
		width: 100% !important;
		height: 95% !important;
	}

	.assets { justify-content: start; }
	
	/*! About me*/
	.containerAbout {
		/*background: palevioletred;*/
		margin-left: 0% !important;
		margin-top: 8%;
		width: 100% !important;
	}

	.informationGeneral {
		/*background: green;*/
		font-size: 13.5px;
		margin-top: 8% !important;
	}	

	.informationGeneral .item-a, .item-b, .item-c { width: 70% !important; }

	.informationGeneral .item-b { margin-bottom: 2.5%; }

	.title { 
		/*background: gold;*/
		margin-left: 5% !important;
	}

	.banner {
		/*background: #FF4F5A;*/
		width: 89% !important;
		margin-left: 5% !important;
	}

	.Container-Time {
		/*background: green;*/
		width: 100% !important;
		margin-left: 0% !important;
	}

	.timeLine {
		/*background: gray;*/
		width: 95% !important;
	}

	.contentLine a {
	/*	background: rgb(86, 143, 86);*/
		font-size: 1.4rem !important;
	}

	.skillContainer {
		/*background: sandybrown;*/
		margin-left: 10% !important;
	}

	.containerPortfolio, #searchClass {
		/*background: darkgreen !important;*/
		margin-left: 5% !important;
		width: 90% !important;
	}

	#searchClass {
		margin-top: 11% !important;
	}
}
